{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | خانه{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        {% for object in object_list %}
            <div class="" style="background: #fff; border: 1px solid #fff; border-radius: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; margin-bottom: 10px;">
                <h4 class="label-info" style="border-radius: 10px; padding: 10px; font-size: 19px;">
                    دانلود آهنگ {{ object.singer.name }} بنام {{ object.name }}
                </h4>
                <div class="row">
                    <div class="col-md-6">
                        aaaaaaaaaaaa
                        <br>
                        bbbbbbbbbbb
                        <br>
                        cccccccccccccc
                        <br>
                        ddddddddddddddddd
                        </pre>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <img width="340px" class="img-thumbnail img-responsive" src="{{ object.image.url }}" alt="{{ object.title }}">
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6" dir="ltr">
                        <a href="#" style="font-size: 16px; text-decoration: none;">
                            <img src="{% static 'img/download.png' %}" alt="download">
                            ادامه مطلب / دانلود
                        </a>
                    </div>
                </div>
            </div>
                <div style="background: #fff; border: 1px solid #fff; border-radius: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; margin-bottom: 10px;">
                    <h4 class="text-center">Advertisements</h4>
                    <p class="text-center">aaaaaaaaaaaaaaaaaaaaaaaaa</p>

                </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
