{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | خانه{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {% for object in object_list %}
            <div class="">
                <a href="#">
                    <img class="img-thumbnail img-responsive thumbnail cover-home" src="{{ object.image.url }}" alt="{{ object.title }}">
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
